html {
  overflow: scroll;
}
body {
  padding: 0;
  margin: 4rem auto 4rem auto ;
  width: 60rem;
  font-family: RalewayVariable,Raleway,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

head {
  font-feature-settings: normal;;
}

hr {
  color: lightgrey;
}

Menu {
  align-self: center;
}

.textCenter {
  text-align: center;  
}

.textSmall {
  font-weight: 100;
  font-style: italic;
}

