.menuItem {
  display: inline;
  padding: 55px 15px 0 0;
  font-size: 2rem;
  text-decoration-line: none;
  font-weight: 800;
}

.menuImage {
  display: flex;
  border-radius: 30px;
  padding: 0 15px 0 0;
}

.imageContainer {
  display: flex;
}

.linkContainer {
  display: flex; /* keeps the links side by side */
  justify-content: center;  
}

.centeredContainer {
  display: flex;
  flex-direction: row; /* Aligns children vertically */
  align-items: center; /* Centers them horizontally */
  justify-content: center;
  margin-bottom: 4rem;
}