.menuItem {
  display: inline;
  padding: 0 12px 0 0;
  font-size: 2rem;
  text-decoration-line: none;
  font-weight: 600;
  margin-top: 10px;
}

.menuImage {
  display: flex;
  border-radius: 30px;
  /* padding: 0 12px 0 0; */
}

.imageContainer {
  display: flex;
}

.linkContainer {
  display: flex; /* keeps the links side by side */
  justify-content: center;
}
.centeredContainer {
  display: flex;
  flex-direction: column; /* Aligns children vertically */
  align-items: center; /* Centers them horizontally */
  justify-content: center;
}